// Specific CSS for your home-page
.container {
  color: #747474;
  vertical-align: text-top;
}

.blank-container {
  background-color: #FFFFFF;
  vertical-align: text-top;
  color: #747474;
  width: 1000px;
  margin: 0 auto;
  padding: 30px;
}



