<%= simple_form_for([product, booking]) do |f| %>
  <div class="d-flex justify-content-between">
    <div class="half-window">
      <%= f.input :start_date, as: :string,
                  label: 'Date de début'%>
    </div>
    <div class="half-window">
  <%= f.input :end_date, as: :string,
              label: 'Date de fin'%>
    </div>
  </div>

  <div id="price-tag">
  </div>
  <%= f.submit "Réserver", class: "btn btn-primary btn-block"%>
<% end %>
