<%= simple_form_for([product, booking]) do |f| %>
  <div class="d-flex justify-content-between">
    <div>
      <%= f.input :start_date, as: :date, html5: true,
                  label: 'Date de début'%>
    </div>
    <div>
  <%= f.input :end_date, as: :date, html5: true,
              label: 'Date de fin'%>
    </div>
  </div>
  <%= f.submit "Réserver", class: "btn btn-primary btn-block"%>
<% end %>
