<div class="banner-concept" id="banner-concept" style="background-image: url('<%= image_path 'kipras-streimikis-39-0VXkvcbw-unsplash.jpg' %>');">
  <div class = "container">
    <div class="banner-content-concept">
      <h2> Votre matériel de ski dort à la cave 50 semaines par an ?</h2>
    </div>
    <%= link_to "Louez le !", new_product_path, class: "btn btn-primary px-3 banner-btn" %>
  </div>
</div>

<div>
  <div class = "blank-container concept-page">
  	<h3 class="mb-3"> Vous partez skier, et souhaitez louer votre matériel à tarif très réduit ? </h3>
  	<p> Sur le coin du ski, des particuliers mettent en location leur matériel de ski. <br>
    Equipez vous pour votre semaine annuelle à des tarifs souvent plus intéressants que ceux des pros ! <br>
    Recherchez votre matériel par catégorie, date de disponibilité, et adresse du loueur.</p>
    <%= link_to "Réservez, et à vous la montagne !", products_path %>
  	<br></br>
  	<h3 class="mb-3 mt-3"> Vous avez des skis, et souhaitez mettre en location votre équipement pour d'autres particuliers ? </h3>
  	<p>  Postez votre annonce (1 par équipement) en indiquant votre tarif de location par jour, les dates de disponibilité, et l'endroit auquel vous le mettez à dispo. </p>
    <%= link_to "Gérez vos produits en ligne", new_product_path %>
  </div>
</div>









