<div class="banner" id="banner" style="background-image: url('<%= image_path 'sebastian-staines-xZIFEPtRsRI-unsplash.jpg' %>');">
  <div class ="container">
    <div class="banner-content">
      <h2> Louez votre matériel de ski à d'autres particuliers! </h2>
    </div>
    <%= link_to "Voir les annonces !", products_path, class: "btn btn-primary px-3 banner-btn" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% Product.all.each do |product| %>
    <div class="col-12 col-md-6 col-lg-4">
      <%= render 'shared/card', product: product %>
    </div>
    <% end %>
  </div>
</div>

