.banner {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 600px;
  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.banner-content {
  display: block;
  position: absolute;
  width: 500px;
  z-index: 1;
  top : 220px;
}