.card-trip {
  margin: 20px 0;
  position: relative;
  background: white;
  height: 200px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all .2s ease;
  &:hover {
    transform: scale(1.01);
  }
  .card-trip-info {
    height: 80px;
    width: 100%;
    text-align: center;
    h2 {
      padding: 10px 5px;
      font-weight: bold;
    }
    > p {
      padding: 30px 30px 0 30px;
      height: 60%;
    }
  }
  .bookings-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .card-trip-pricing {
    font-size: 40px;
    font-weight: bold;
  }
  .booking-dollar-user {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
  }
  .card-trip-bookings-container {
    width: 400px;
    margin: 5px;
    padding: 5px;
    text-align: center;
  }
  .card-trip-booking {
    overflow-y: scroll;
    height: 130px;
  }
  .avatar-dropup {
    position: absolute;
    top: 20px;
    left: 179px;
  }

}