.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-naked {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: rgba(0,0,0,0.0);
}
