<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="mailto: thibault.adet@gmail.com"><i class="fas fa-envelope"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright: MIT license
  </div>
</div>
